@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));



